*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(145, 136, 136);
    font-family: 'Roboto', sans-serif; 
}
.content{ 
    max-width: 1000px;
    background-color: rgb(111, 219, 219);
    margin: 0 auto;
}
.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{ 
    text-decoration: underline;
    color: green;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
/*--------------
parsonal section
-----------*/
#parsonal-section{

}
.content{
    margin-bottom: 30px;

}
.left-div{
    width: 30%;
    float: left;

}
.right-div{
width: 70%;
float: left;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
/*--------------
education section
-----------*/
.edu-right{
    float: left;
    width: 45%;

}
.edu-left{
    float: right;
    width: 45%;

}
.bottom-containar{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.bottom-containar a{
    color: white;

    text-align: center;
    text-decoration: none;
    margin: 20px;
}
.bottom-containar p{
    margin-top: 20px;

}




















    
